.Button {
  display: inline-block;
  color: #FFF;
  text-shadow: 1px 1px 0 rgba(0,0,0,0.3);
  min-width: 120px;
  border: 0;
  outline: 0;
  border-radius: 4px;
  font-size: 14px;
  margin-right: 10px;
  padding: 10px 0 12px;
  cursor: pointer;
}

.Button--green {
  background: #72E1D1;
}

.Button--green:hover {
  background: #4CE0CA;
}

.Button--green:active {
  background: #46CCB8;
}

.Button--red {
  background: #C03221;
}

.Button--red:hover {
  background: #CC2F1E;
}

.Button--red:active {
  background: #A72719;
}

